/* Header */
.header {
	padding: 40px 0;
	min-height: 695px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--bg-color-header);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;

	color: var(--header-text);
	text-align: center;
	border-bottom: 5px solid gray;
}

.header__wrapper {
	padding: 0 15px;
	max-width: 1000px;
}

.header__title {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
}

.header__title strong {
	font-size: 60px;
	font-weight: 700;
}

.header__title em {
	font-style: normal;
	color: gray;
}

.header__text {
	margin-bottom: 40px;
	font-size: 24px;
	line-height: 1.333;
}

.header__text p + p {
	margin-top: 0.5em;
}

.border {
	border: 5px solid gray;
	background-color: black;
}

.blinking-cursor {
  display: inline-block;
  margin-left: 2px;
  font-weight: 600;
  animation: blink 1s step-start infinite;
  color: currentColor;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
